.accordion-container {
  .accordion-single {
    border-bottom: 1px solid #eee;
    &:last-of-type {
      border-bottom: 0;
    }
    &.show {
      .content {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
      }
    }
    .title-container {
      cursor: pointer;
      padding: 10px 25px;
      display: flex;
      justify-content: space-between;
      .title {
        color: #0b2e58;
        font-size: 18px;
        padding-right: 15px;
      }
      .accordion-btn {
        display: flex;
        align-items: center;
        svg {
          color: #444;
        }
      }
    }
    .content {
      height: 0;
      transition: all 0.2s ease-in-out;
      padding: 0 25px;
      display: none;
      position: relative;
      background-color: #f8f8f8;
      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
