.main{
padding-top:50px;
}
.head
{
    text-align: center;
    margin-left: 100px;
    
}
.rot{
    margin-left: 300px;
    margin-right: 300px;
    h3{
        font-weight:bolder;
        font-size: 30px;
        color: #334e6f;
    }
    .theme-cl{
        color: rgb(0, 58, 166);
          margin-left:55vh;
          padding-bottom:50px;
            }
            label{
                font-weight: bold;
                font-size:15px;
                color:#7c7d8b;
            }
            .fff{
                height: 50px;
                width:100%;
                border: 1px solid #6786a6;
           
               
                &:hover{
                    border:1px solid blue;
                    box-shadow: 0 0 10px #267e8f;
                }
              
            }
           .pp{
            outline: none !important;
            border:1px solid #6786a6;
            height: 50px;
            width:100%;
           }
           &:hover{
            border:1px solid blue;
            box-shadow: 0 0 10px #267e8f;

        }
        .row1{
            display: grid;
            grid-gap: 15px;
            margin-bottom: 50px;
            grid-template-columns: repeat(auto-fill, minmax(calc(100% /3 - 20px), 1fr));
        }
       
        .form-check-input{
            width:33px;
            height:18px;
            margin-left:-2px;
            margin-top:2px;
        }
      
        
        label{
            font-weight: bold;
            font-size: 15px;
     
            
        }
       
        .lb{
            font-weight: bold;
            font-size: 15px;
            padding-left: 20px;
        }
}

.theme-btn{
    background: #1e29ff;
    border: 1px solid #1e4fff;
    color: #ffffff;
    text-transform: uppercase;
    padding: 16px 40px;
    margin-bottom:20px;
    margin-top:20px;
    margin-left:95vh;
   
    .btn{
    border-radius: 2px;
    box-shadow: none;
    font-weight: 400;    
    font-size: 15px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    margin-right:150px;
    }
}

.pg{
    height: 50px;
    width:100%;
    border: 1px solid #6786a6;

}
h5{
    font-weight: bolder;
    color: #3c3d49;
    margin-top:-30px;
}