@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@import "react-toastify/dist/ReactToastify.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background: #edf1f7;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.bg-default {
  background: #cfd5df;
}

.white-card {
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1rem;
  background: #fff;
}

.fa-spin {
  animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.otp-input {
  display: flex;
  input {
    width: 100% !important;
    border-radius: 0.25rem;
  }
}

.react-datepicker-popper {
  z-index: 9999999999 !important;
}
.faq-container {
  padding-top:5rem;
  padding-bottom: 5rem;
  .faq-lists {
    .faq {
      display: flex;
      &.active {
        .faq-content .ans {
          height: auto;
        }
      }
      .faq-icon {
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.03);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 100%;
        color: #919191;
        flex: 0 0 auto;
        margin-right: 30px;
      
      }
      .faq-content {
        padding: 15px 0;

        .que {
          color: #404040;
          transition: color 0.2s linear;
          font-size:18px;
          font-weight: 700;
          padding-bottom: 20px;
          cursor: pointer;
          &:hover {
            color: #14b0f8;
          }
        }
        .ans {
          height: 0;
          overflow: hidden;
          color:rgb(38, 6, 6);
          font-size: 18px;
          transition: height 0.3s linear;
        }
      }
    }
  }
}
.roundbtn{
  .default-btn{
    padding-left: 30px;
    button{
      border: 2px solid #c2efef;
      border-radius:50px;
    }

  }
}