/* .main-layout {background: #777;}
.main-layout .logo{background: #fff;} */

.main-layout {
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0;
  &.inner-page {
    // min-height: 300px;
  }
  .dark-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    content: "";
  }
  header {
    background: #fff;

    border-radius: 5px;
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .logo {
        height: 65px;
        padding: 10px;
        a {
          display: block;
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
      .nav-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .main-nav {
          margin: 0;
          list-style: none;
          display: flex;
          align-items: center;
          padding: 15px;
          li {
            a {
              display: block;
              padding: 10px;
              text-decoration: none;
              text-transform: uppercase;
              &:hover {
                color: green;
              }
            }
          }
        }
        .btn-nav {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          align-items: center;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 95px;
            &:first-child {
              background: #50a716;
              color: #fff;
            }
            &:last-child {
              background: #222;
              color: #fff;
            }
            a {
              display: block;
              padding: 10px;
              text-decoration: none;
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-transform: uppercase;
              &:hover {
                color: #ddd;
              }
            }
          }
        }
      }
    }
    .search-banner {
    }
  }
  .search-banner {
    display: flex;
    flex-wrap: wrap;
    padding: 90px 0;
    .search-box {
      width: 40%;
    }
    .search-content {
      width: 60%;
      padding: 20px;
      margin: 50px 0;
      text-align: center;
      color: #fff;
      text-shadow: 3px 2px 2px #000;
      a {
        text-decoration: none;
        font-size: 40px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.dark-form {
  border-radius: 10px;
  overflow: hidden;
  .dark-form-header {
    background: #000;
    color: #ffffff;
    .icon {
      width: 50px;
      height: 50px;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      .title {
        color: #ffcd00;
        font-size: 22px;
        letter-spacing: 1.5px;
      }
      .subtitle {
        color: #ccc;
        font-size: 14px;
      }
    }
  }
  .dark-form-fields {
    background: #000000bf;
    label {
      color: #fff;
    }
    input {
      background: #444;
      color: #fff;
      border: 0;
      height: 42px;
    }
  }
}

.contact-page {
  width: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 4px 2px #000;
  h3 {
  }
  .contact-info {
    background: #fff;
    width: 50%;
    padding: 40px;
  }
  .contact-form {
    width: 50%;
    padding: 40px;
    background: rgb(0, 49, 68);
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      background: rgb(0, 49, 68);
      top: 41px;
      left: -15px;
      transform: rotate(45deg);
    }
    label {
    }
    input {
      border-radius: 20px;
      height: 42px;
    }
    textarea {
    }
  }
}
